#Python

__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log

#Enviroments

.env
.venv/
env/
venv/
*.env

#IDEs

.vscode/
.idea/

#OS
.DS_Store
Thumbs.db

#Noebooks
.ipynb_checkpoints/

#Docker

*.pid
*.db

